spring:

  cloud:
    nacos:
      discovery:
        server-addr: 10.100.60.103:8848

  application:
    name: service-nacos-order
server:
  port: 83
service:
  url: http://service-nacos-payment
feign:
  sentinel:
    enabled: true